*{
    color: #fff;
}
:root{
    --light-theme: #01813F;
    --dark-theme: #a3a3a3;
    --background-dark: #000;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background: url("../img/bg.png") no-repeat;
    background-size: cover;
    --text-color: var(--light-theme);
    --background-color: var(--dark-theme)
}
body.dark-theme{
    background: rgba(10, 10, 10, 0.9);
    --background-color: var(--background-dark);
    --text-color: var(--dark-theme);
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 17px 79px;
    background: rgba(0, 0, 0, 0.4);
}
.logo{
    font-size: 22px;
    font-weight: 700;
}
.logo:hover{
    color: var(--text-color)
}
.navigation{
    display: flex;
}
.nav-pic{
    width: 23px;
    height: 23px;
    margin-right: 27px;
}
.calendar-img:hover path{
    fill: var(--text-color);
}
.post-img:hover path{
    fill: var(--text-color);
}
:hover.compass-img:hover path{
    fill: var(--text-color);
}
.login-txt::before{
    content: "";
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    display: inline-block;
    margin-right: 27px;
}
.log-in:hover {
    color: var(--text-color);

}
.sing-up:hover{
    color: var(--text-color);
}
main{
    height: calc(100vh - 57px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-window{
    position: relative;
    background: var(--background-color);
    display: flex;
    padding: 31px 60px 38px 60px;
    box-sizing: border-box;
}
.login-capabilities{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 4px;
    justify-content: space-between;
    box-sizing: border-box;
    width: 325px;
}
.modal-signup-txt{
    font-size: 20px;
    color: #434343;
}
.modal-login-txt{
    width: max-content;
    justify-self: end;
    color: var(--text-color);
    text-align: right;
}
.modal-login-txt:hover{
    text-decoration: underline;
}
.modal-window::before{
    content: "";
    width: 18px;
    height: 18px;
    background: var(--text-color);
    display: inline-block;
    position: absolute;
    left: 0;
}

.sing-in-btn{
    padding: 12px 25px 12px 15px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 4px;
}
.facebook-link{
    background: #305DB8;
}
.google-link{
    background: #DF4A32;
}
.facebook-btn::after{
    width: 1px;
    height: 28px;
    content: "";
    display: inline-block;
    background: #0A162F;
    opacity: 0.1;
    margin: 0 18px;
    position: absolute;
    left: 30px;
}
.google-btn::after{
    width: 1px;
    height: 28px;
    content: "";
    display: inline-block;
    background: #2B0D09;
    opacity: 0.1;
    margin: 0 38px 0 7px;
    position: absolute;
    left: 45px;
}
.visual-separator{
    color: #848484;
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 11px;
}
.visual-separator::before, .visual-separator:after{
    content: "";
    display: inline-block;
    width: 154px;
    height: 1px;
    background: #F2F2F2;
}
form{
    flex-direction: column;
    display: flex;
}
.input{
    margin-bottom: 15px;
    padding: 15px 20px;
    color: black;
    width: 324px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    box-sizing: border-box;
}
.name:focus {
    color: #434343;
    outline: none;
    border-color: transparent;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}
.second-name:focus {
    color: #434343;
    outline: none;
    border-color: transparent;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}
.email:focus {
    color: #434343;
    outline: none;
    border-color: transparent;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}
.password:focus {
    color: #434343;
    outline: none;
    border-color: transparent;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}
.password-confirm:focus {
    color: #434343;
    outline: none;
    border-color: transparent;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}
.agreement-txt{
    color: #434343;
}

.agreement-link{
    color: var(--text-color);
}
.agreement-link:hover{
    text-decoration: underline;
}
.submit_btn{
    background: var(--text-color);
    padding: 16px 99px;
    border-radius: 4px;
    border: none;
    margin-top: 20px;
}
.change-theme{
    display: block;
    margin: 0 auto;
    background: gray;
    border-radius: 4px;
    position: relative;
    top: -30px;
}