.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .6);
  }

.modal {
    background: #f00;
    border-radius: 5px;
    border: 0;
    color: #fff;
    width: 600px;

    &Header {
        background: rgb(175, 17, 17);
        font-size: 22px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    };

    &Content {
        font-size: 15px;
        padding: 20px 30px;

        &Text {
            text-align: center;
        }
    };

    &ButtonContainer {
        width: 400px;
        display: flex;
        justify-content: space-around;
        margin: 0 auto 20px auto;
    }
}