body{
    font-family: Roboto, sans-serif;
    font-weight: 400;
}
.logo{
    width: 1280px;
    display: flex;
    margin: 0 auto;
    padding: 60px 0 40px 0;
    font-size: 80px;
}
.navbar{
    width: 1280px;
    display: flex;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: inherit;
}
.blue_text{
    color: deepskyblue;
}
.navbar{
    display: flex;
    justify-content: center;
    background: #35444F;
}
.navbar_item:first-child{
    border-left: white 1px solid;
}
.navbar_item{
    list-style-type: none;
    padding: 20px 35px;
    border-right: white 1px solid;
    color: #fff;
    font-size: 24px;
}
main{
    width: 1280px;
    display: flex;
    margin: 48px auto 20px auto;
}
.aside_menu{
    width: 344px;
    border: 1px solid #000000;
    margin-right: 50px;
}
.aside_menu_item{
    padding: 25px 45px;
    list-style-type: none;
    font-size: 27px;
    color: #495863;
}
.article_img {
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.0001);
}
article{
    font-size: 18px;
    color: #2C2C2C;
}
.first_paragraph{
    padding: 34px 0;
}
.second_paragraph{
    padding-bottom: 34px;
}
footer {
    width: 1280px;
    background: rgba(99, 105, 110, 0.48);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #010101;
}
.footer_menu{
    font-size: 28px;
    display: flex;
    list-style-type: none;
    margin-left: 40px;
}
.footer_menu_item{
    margin: 26px 20px;
}
.copyright{
    display: flex;
    align-self: center;
    font-size: 24px;
    padding-right: 5px;
}
