:root{
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
}
.navbar-item-a:hover{
    color: #14B9D5;
}
header{
    display: flex;
    justify-content: space-between;
    background: #313131;
}
.logo{
    margin-left: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-text{
    margin-left: 27px;
}
.navbar{
    display: flex;
    align-self: center;
}
.navbar-item{
    margin-right: 35px;
    text-transform: uppercase;
}
.navbar-item:hover{
    color: #14B9D5;
}

.search-pic{
    padding: 26px;
    background: #000;
}

.the-latest-news{
    background-image: url(../img/header-background.png);
    padding-top: 164px;
    padding-bottom: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.the-latest-news-headlight{
    font-size: 27px;
    margin-bottom: 44px;
}
.subscribe-btn{
    margin-right: 20px;
    padding: 17px 19px;
    background-color: #89CA62;
}
.best-articles-btn{
    padding: 17px 30px;
    background-color: #14B9D5;
}
.top-rated{
    display: grid;
    grid-auto-flow: column;
    width: 100%;
}
.most-popular-posts-content{
    background: #F2F2F2;
}
.top-rated-img{
    width: 100%;
}
.content-headlight {
    display: flex;
    font-size: 27px;
    color: #18B4CF;
    padding: 52px 0;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
}
.most-popular-posts{
    margin: 0 auto;
    width: 1170px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 900px;
    align-content: space-between;
}
.most-popular-posts-item{
    display: flex;
    flex-direction: column;
    background: #fff;
    margin-bottom: 30px;
}
.most-popular-post-text{
    text-align: center;
    padding: 25px 0;
    color: #353A3D;
    font-size: 18px;
    font-weight: bold;
}
.most-popular-clients{
    padding: 108px 0 191px 0;
    background-image: url("../img/most-popular-clients-bg.png");
}
.content{
    text-align: center;
    margin: 0 auto;
    width: 880px;
}
.most-popular-clients-headlight{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}
.most-popular-clients-headlight::after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #18B4CF;
    margin: 87px auto 103px auto;

}
.logo-img-position{
    padding: 7px;
}
.brand-logos{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}
.hot-news{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1170px;
    color: #5B6469;
    gap: 43px 60px;
    margin-bottom: 73px;
}
.hot-news-item-1{
    display: grid;
    grid-area: 1/1/1/4;
    grid-auto-flow: column;
}
.hot-news-item-2{
    grid-area: 1/4/1/5;
}
.hot-news-item-3{
    grid-area: 2/1/2/3;
}
.hot-news-item-4{
    grid-area: 2/3/2/5;
}
.hot-news-item-5{
    grid-area: 3/1/3/3;
}
.hot-news-item-6{
    grid-area: 3/3/3/5
}
.hot-news-item-7{
    grid-area: 4/1/4/2;
}
.hot-news-item-8{
    display: grid;
    grid-auto-flow: column;
    grid-area: 4/2/4/5;
}
.item-8-txt{
    grid-column: 1/2;
}
.hot-news-item-title{
    color: #353A3D;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 27px 14px 0;
    text-align: right;
}
.hot-news-item-text{
    padding-right: 14px;
    text-align: right;
}
.vertical-item-txt{
    padding: 0 24px 40px 0;
}
.vertical-item-title{
    padding: 41px 24px 14px 0;
}
.hot-news-bg{
    background: #F9F7F7;
}
footer{
    background: #000000;
}
.footer-content{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
    align-items: center;
}
.footer-logo-img{
    padding: 29px 0 27px 0;

}
.footer-logo{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
}
.copyright{
    font-size: 13px;
    font-weight: 400;
}