*{
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}
.navbar{
    text-transform: uppercase;
    color: #FF0000;
    font-weight: bold;
}
.navbar_list{
    list-style-type: none;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.home_link{
    text-decoration: none;
    color: inherit;
}
.navbar_list li{
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
}
.main_img{
    width: 100%;
}
.main_content{
    text-align: center;
    width: 1145px;
    color: #373737;
    padding-top: 48px;
    padding-bottom: 59px;
    margin: 0 auto 0 auto;
}
.first_paragraph{
    padding-top: 38px;
    padding-bottom: 28px;
}
.content{
    margin-bottom: 84px;
}
.start_link{
    padding: 18px 43px;
    background-color: #FF0000;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
}
footer{
    text-align: right;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 67px;
}