body {
    font-size: 18px;
    font-family: sans-serif;
    padding: 100px 0 100px 0;
    line-height: 30px;
}

.card {
    width: 60vw;
    padding: 30px;
    margin: 0 auto;
    border: 1px solid rgb(239, 243, 244);
    border-bottom: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.card:hover {
    background: rgba(0, 0, 0, .03);
}

.card-creator {
    font-weight: 700;
    margin-right: 10px;
}

.post-headlight {
    margin: 15px 0 10px 0;
}

.post-reactions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.post-reaction-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 9999px;
}

.post-reaction-wrapper:hover {
    background-color: rgba(29, 155, 240, .1);
}

.like:hover {
    background-color: rgba(249, 24, 128, .1);
}

.retwit:hover {
    background-color: rgba(0, 186, 124, .1);
}

.card-content-wrapper {
    display: flex;
}

.display-picture {
    width: 70px;
    height: 70px;
    border-radius: 99999px;
    margin-right: 30px;
    background-color: rgb(53, 75, 175);
}

.card-creator:hover {
    text-decoration: underline;
}

.more-btn-wrapper {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.more-btn-hover:hover {
    border-radius: 99999px;
    background-color: rgba(29, 155, 240, .1);
}

.more-actions {
    width: 150px;
    border: 1px solid rgb(239, 243, 244);
    cursor: pointer;
    position: absolute;
    top: 27px;
    right: 10px;
    background-color: #fff;
}

#delete {
    color: #f00;
}

#delete:hover{
    background-color: rgba(29, 155, 240, .1);
}

#modal-cancel:hover {
    background-color: rgba(29, 155, 240, .1);
}

#modal-edit:hover{
    background-color: rgba(29, 155, 240, .1);
}

#edit:hover{
    background-color: rgba(29, 155, 240, .1);
}

.hidden {
    display: none;
}

.more-actions-menu-item {
    padding: 5px;
}

.edit-modal {
    width: 40vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 5;
    top: 40%;
    left: 30%;
    padding: 30px;
}

.edit-modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 4;
    background: rgba(71, 78, 83, .3);
}

.edit-headlight {
    margin-bottom: 20px;
}

.edit-btns-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.edit-btn {
    border-radius: 5px;
    border: 0px;
    width: 50px;
    padding: 5px;
}

#modal-edit {
    background: #0f0;
}

#modal-cancel {
    background: #f00;
}