.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    padding: 38px 35px 45px 35px;

    &__headlight {
        margin-bottom: 8px;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        color: #fff;
        text-transform: uppercase;
    }

    &__text {
        font-size: 12px;
        line-height: 20px;
        color: #B9B9B9;
        text-align: center;
        width: 304px;
        &--hiden {
            display: none;
        }
    }

    &__social-wrapper {
        margin: 25px 0;
        width: 192px;
        display: flex;
        justify-content: space-between;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__contacts-text {
        text-decoration: none;
        font-size: 14px;
        line-height: 24px;
        color: #B9B9B9;
    }
}

@media (min-width: 768px) {
    .footer__text {
            width: 684px;
    &--hiden {
        display: inline;
    }
    }

    .footer__contacts {
        flex-direction: row;
    }
}