@import 'mixines';
@import 'variables';

.header {
    display: flex;
    flex-direction: row-reverse;
    margin: 23px 28px;


    &__burger-button {
        position: relative;
        padding: 13px;
        width: 44px;
        height: 38px;
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box
    }

    &__burger-button--clicked {
        @extend .header__burger-button;
        .header__burger-button-item:nth-child(3) {
            display: none;
        }
        .header__burger-button-item:nth-child(1) {
            position: absolute;
            top: 19px;
            transform: rotate(-45deg);
        }
        .header__burger-button-item:nth-child(2) {
            position: absolute;
            top: 19px;
            transform: rotate(-135deg);
        }
    }

    &__burger-button-item {
        margin-bottom: 2px;
        width: 17px;
        height: 2px;
        background: #FFF;
    }

    &__menu {
        width: 182px;
        position: absolute;
        top: 61px;
    }

    &__menu--hidden {
        display: none;
    }

    &__menu-list {
        background: #F5F5F5;
    }

    &__menu-item {
        padding: 4px 0 4px 13px;
        &:last-of-type{
            padding-bottom: none;
        }
        &:active {
            background: #E5E5E5;
        }
    }

    &__menu-link {
        text-decoration: none;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        color: $mainGrey;
        font-size: 11px;
        line-height: 22px;

        &:hover {
            color: #57A4A4;
        }
    }
}

@media (min-width: 768px) {
    .header {
        display: block;
        margin: 41px 0px;
    
        &__burger-button {
        display: none;
        }
    
        &__menu {
            width: auto;
            position: static;
            @include flex-center();
        }
    
        &__menu--hidden {
            @include flex-center();
        }
    
        &__menu-list {
            background: #fff;
            display: flex;
        }
    
        &__menu-item {
            padding: 0;
            margin-right: 34px;
            &:last-of-type {
                margin-right: 0;
            }
            &:active {
                background: #fff;
            }
        }
    }
}

@media (min-width: 1200px) {
    .header {
        margin: 45px 0px 51px 0;

        &__menu-item {
            margin-right: 68px;
        }
    }
}