@import 'variables';

.main-content {
    margin: 0 28px 40px 25px;

    &__image {
        width: 100%;
    }
}

.articles__container {
    margin-top: 38px;
    width: 233px;
}

.artice__headlight {
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: $mainGrey;
    margin-bottom: 23px;
}

.article__item {
    margin-top: 29px;

    &-text {
        display: none;
        margin-top: 13px;
        font-size: 14px;
        line-height: 26px;
        color: #5C5C5C;
    }

    &:first-of-type {
        margin-top: 23px;
    }

    &:last-of-type {
        display: none
    }

    &-headlight {
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;
        color: $mainGrey;
        margin-top: 11px;
    }

    &-about {
        font-size: 11px;
        line-height: 20px;
        color: #7C7C7C;
    }
}

@media (min-width: 768px) {
    .main-content {
        margin: 0 92px 60px 80px;
    
        &__image {
            width: 100%;
        }
    }
    
    .articles__container {
        margin-top: 56px;
        width: 556px;
    }
    
    .artice__headlight {
        font-size: 16px;
    }
    
    .article__item {
        margin-top: 32px;
        display: flex;
    
        &-text {
            display: block;
            font-weight: normal;
        }

        &-text-wrapper {
            padding-left: 21px;
        }
    
        &:first-of-type {
            margin-top: 0;
        }
    
        &:last-of-type {
            display: flex;
        }
    
        &-headlight {
            font-size: 16px;
            margin-top: 0;
        }
    
        &-about {
            font-size: 12px;
        }
    }
}

@media (min-width: 1200px) {
    .main-content {
        margin: 0 auto 69px auto;
        width: 1170px;
    }

   .article__item {
    &:nth-of-type(odd) {
        margin-top: 32px;
        margin-right: 25px;
    }
   }

    .articles {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 355px;
    }
}