.sectionHeadlight {
    font-size: 18px;
    text-align: center;
    margin: 20px auto 30px auto;
}

.postsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.containerWrapper {
    display: flex;
    flex-direction: column;
}

.shippingCartWrapper {
    display: flex;
    justify-content: center;
}