.header {
    margin: 20px 0;
    border-top: 1px solid rgb(190, 190, 190);
    border-bottom: 1px solid rgb(190, 190, 190);
    display: flex;
    justify-content: center;
    position: relative;

    &Text {
        text-transform: uppercase;
        font-size: 22px;
        line-height: 30px;
    }

    &NavigationIconsWrapper {
        position: absolute;
        right: 10px;
        top: 15px;
        width: 90px;
        display: flex;
        justify-content: space-between;
    }

    &CartIcon:hover, &HomeIcon:hover, &FavIcon:hover {
        cursor: pointer;
        transform: scale(1.3);
    }
}