.post {
    border: 1px solid rgb(190, 190, 190);
    width: 320px;
    height: 550px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 30px;
    margin-right: 30px;
    position: relative;

    &Headlight:hover {
        text-decoration: underline;
    }
}

.actionBtnsWrapper {
    display: flex;
    justify-content: space-between;
}

.addToFavoriteBtn:hover {
    transform: scale(1.2);
}

.postItemButtonsWrapper {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    width: 90%;
}

.deleteButton {
    position: relative;
    left: 140px;
    display: inline-block;

    &:hover {
        transform: scale(1.2);
    }
}
