*{
    color: #fff;
}
:root{
    --col-orange: #F26522;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background-image: url("../img/page-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.content{
    padding-top: 50px;
    margin: 0 auto;
    width: 1029px;
}
header{
    display: flex;
    justify-content: space-between;
}
.milan-logo-link{
    display: flex;
    flex-direction: row;
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
}
.logo-img{
    content: url("../img/milan-logo.png");
}
.logo-txt{
    margin-left: 8px;
    margin-top: 8px;
}
.smaller-logo-txt{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: inherit;
}
.milan-logo-link:hover .logo-img{
    content: url("../img/milan-logo-orange.png");
}
.milan-logo-link:hover .logo-txt{
    color: var(--col-orange);
}
.contacts{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
}
.contact-email{
    margin-bottom: 19px;
}
.contact-email:hover{
    color: var(--col-orange);
 }
.contact-tel:hover{
    color: var(--col-orange);
}

main{
    margin-top: 22px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 37px 61px;
    margin-bottom: 60px;
}
.card-img{
    width: 100%;
}
.card-title{
    text-align: center;
    margin-top: 20px;
}
.second{
    margin-top: 15px;
}
.img-div{
    width: 300px;
    height: 220px;
    position: relative;
    overflow: hidden;
}
.card-img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.card-details{
    background: var(--col-orange);
    padding: 7px 14px 12px 16px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 298px;
    height: 55px;
    box-sizing: border-box;
}
.price{
    display: flex;
    flex-direction: column;
}
.details-txt{
    align-self: flex-end;
}
.from{
    margin-bottom: 8px;
}
.tour-link:hover .card-title{
    color: var(--col-orange);
}
.tour-link:hover .card-details{
    top: 165px
}
.details-txt::after{
    margin-left: 16px;
    content: url("../img/vector.svg");
}
footer{
    padding-bottom: 15px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}