body {
    margin-left: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: sans-serif;
  }
  
  .loader {
    text-align: center;
    vertical-align: middle;
    position: relative;
    background: white;
    margin-left: 50px;
    display: none;
  }
  
  .loader span {
    display: block;
    width: 10px;
    height: 10px;
    background: #eee;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  .loader span:nth-child(2) {
    background: #f07e6e;
  }
  
  .loader span:nth-child(3) {
    background: #84cdfa;
  }
  
  .loader span:nth-child(4) {
    background: #5ad1cd;
  }
  
  .loader span:not(:last-child) {
    animation: animate 1.5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(30px);
    }
  }
  
  .loader span:last-child {
    animation: jump 1.5s ease-in-out infinite;
  }
  
  @keyframes jump {
    0% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(10px, -5px);
    }
    20% {
      transform: translate(20px, 5px);
    }
    30% {
      transform: translate(30px, -15px);
    }
    70% {
      transform: translate(-100px, -15px);
    }
    80% {
      transform: translate(-90px, 5px);
    }
    90% {
      transform: translate(-80px, -5px);
    }
    100% {
      transform: translate(-70px, 0);
    }
  }
  
  .pending {
    display: flex;
  }

  h3 {
    font-size: 22px;
    text-align: center;
  }

  #episode-number {
    display: block;
    text-align: center;
    font-size: 18px;
  }