.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .6);
  }

.modal {
    background: rgb(216, 216, 216);
    border-radius: 5px;
    border: 0;
    color: #000;
    width: 600px;

    &Header {
        background: rgb(175, 175, 175);
        font-size: 22px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    };

    &ButtonContainer {
        width: 400px;
        display: flex;
        justify-content: space-around;
        margin: 0 auto 20px auto;
    }
}