.header {
    width: 100%;
    margin: 20px 0;
    border-top: 1px solid rgb(190, 190, 190);
    border-bottom: 1px solid rgb(190, 190, 190);
    display: flex;
    justify-content: center;
    position: relative;

    &Text {
        text-transform: uppercase;
        font-size: 22px;
        line-height: 30px;
    }

    &CartIconWrapper {
        position: absolute;
        right: 10px;
        top: 15px;
    }

    &CartIcon:hover {
        cursor: pointer;
        transform: scale(1.3);
    }
}