.active{
    outline: 2px double #008000FF;
}
.price {
    display: block;
    margin: 10px 0;
    border: #5B6469 solid 1px;
    border-radius: 5px;
    width: max-content;
    padding: 3px;
}
.valid-number {
    color: #008000FF;
}
.invalid-number {
    outline: 2px double #FF0000FF;
}
.delete-btn {
    margin-left: 5px;
    border-radius: 50%;
    box-shadow: #5B6469 2px 2px;
    background: transparent;
    opacity: 0.5;
}