.post {
    border: 1px solid rgb(190, 190, 190);
    width: 320px;
    padding: 10px;
    cursor: pointer;

    &Headlight:hover {
        text-decoration: underline;
    }
}

.actionBtnsWrapper {
    display: flex;
    justify-content: space-between;
}

.addToFavoriteBtn:hover {
    transform: scale(1.2);
}