:root {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 26px;
}

span {
    display: block;

}

#get-ip-wrapper {
    margin: 40vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#get-ip {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    width: fit-content;
}