body{
    background: #000;
}
.content{
    width: calc(100vw - 50%);
    height: calc(100vh - 50%);
    position: absolute;
    left: 25%;
    overflow: hidden;
}
.center{
    text-align: center;
}
.text{
    font-size: 50px;
    text-transform: uppercase;
    color: darkgoldenrod;
    margin-bottom: 50px;
}