.image-to-show.hidden {
    display: none;
}

.image-to-show {
    width: 400px;
    height: 400px;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.button {
    display: block;
    margin: 100px auto;
}

.button-wrapper {
    display: flex;
    width: 300px;
    margin: 0 auto;
}